@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenido a tu gestor de pagos - AtmiraPayNet</h1>

<p>
    Aquí encontrarán una herramienta ágil y eficiente para manejar todas las cartas de pago de nuestros clientes de manera rápida y segura.
    Simplificando procesos y optimizando tiempos,
    estamos comprometidos a brindarles una plataforma que facilite su trabajo diario y contribuya al éxito de nuestras operaciones.
</p>
