@inherits LayoutComponentBase
<div class="page">
    <main>
        
        <AtmiraPayNet.Client.Pages.Menu></AtmiraPayNet.Client.Pages.Menu>

        <article class="content px-4 mt-5">
            @Body
        </article>
    </main>
</div>
